In [78]:
import pandas as pd
import numpy as np

In [106]:
df = pd.read_csv('../vehicles.csv')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [107]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

### RENAMING COLUMNS

df.rename(columns={'Make' : 'Manufacturer'})
df.head()

In [111]:
# 'inplace = True' works to change the original dataframe 

df.rename(columns={'Make' : 'Manufacturer'}, inplace = True)
df.head()

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [82]:
df.rename(columns={'Make' : 'Manufacturer', 'Engine Displacement' : 'Displacement'}, inplace = True)
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

### Dropping Columnns

In [83]:
df = df.drop('Fuel Cost/Year', axis = 1)

In [84]:
## df = df.drop([Highway MPG', 'City MPG'], axis = 1)

### Filtering Data

In [85]:
df['Age'] = 2020 - df['Year']
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Age
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,36
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,36
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,35
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,35
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,33

In [112]:
# FILTERING DATA

df_ford = df[df['Manufacturer']=='Ford']
df_ford.head()

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

In [87]:
df_ford_1986 = df[(df['Manufacturer'] == 'Ford') & (df['Year'] == '1986')]
df_ford_1986.head()

/Users/sholaayodz/opt/anaconda3/envs/kittycat/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)

Empty DataFrame
Columns: [Manufacturer, Model, Year, Displacement, Cylinders, Transmission, Drivetrain, Vehicle Class, Fuel Type, Fuel Barrels/Year, City MPG, Highway MPG, Combined MPG, CO2 Emission Grams/Mile, Age]
Index: []

In [88]:

df.describe()

,Year,Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Age
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.00000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,19.28360
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,10.08529
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,3.00000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,10.00000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,19.00000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,29.00000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,36.00000

## Calculation of DataFrame

In [89]:
df['hello'] = 'hello'
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Age,hello
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,36,hello
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,36,hello
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,35,hello
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,35,hello
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,33,hello

In [90]:
#Create age column which would be 2020 minus Year
df['Age'] = 2020 - df['Year']
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Age,hello
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,36,hello
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,36,hello
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,35,hello
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,35,hello
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,33,hello

In [91]:
# Create a new column 2020

df['2020'] = df['Age'] + df['Year']
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Age,hello,2020
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,36,hello,2020
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,36,hello,2020
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,35,hello,2020
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,35,hello,2020
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,33,hello,2020

In [92]:
## Sum of all columns
df.sum()

Manufacturer               AM GeneralAM GeneralAM GeneralAM GeneralASC In...
Model                      DJ Po Vehicle 2WDFJ8c Post OfficePost Office D...
Year                                                                71929756
Displacement                                                          120026
Cylinders                                                             207266
Transmission               Automatic 3-spdAutomatic 3-spdAutomatic 3-spdA...
Drivetrain                 2-Wheel Drive2-Wheel DriveRear-Wheel DriveRear...
Vehicle Class              Special Purpose Vehicle 2WDSpecial Purpose Veh...
Fuel Type                  RegularRegularRegularRegularPremiumRegularRegu...
Fuel Barrels/Year                                                     633081
City MPG                                                              634414
Highway MPG                                                           858557
Combined MPG                                                          716499
CO2 Emission Grams/Mile                                          1.70886e+07
Age                                                                   693284
hello                      hellohellohellohellohellohellohellohellohelloh...
2020                                                                72623040
dtype: object

In [93]:
# Sum of all the rows
df.sum(axis = 1)

0        4640.653529
1        4798.170000
2        4671.538125
3        4798.170000
4        4676.838125
            ...
35947    4405.155833
35948    4404.155833
35949    4405.155833
35950    4408.055833
35951    4414.317429
Length: 35952, dtype: float64

In [94]:
# Sum the column Year
df['Year'].sum()

71929756

In [95]:
# Sum the column year & city MPG
df[['Year', 'City MPG']].sum()

Year        71929756
City MPG      634414
dtype: int64

In [96]:
#reassign some columns
columns_to_compute = ['Year', 'City MPG']
df[columns_to_compute].sum()

Year        71929756
City MPG      634414
dtype: int64

In [97]:

# Changing the original variable
#df = df.sort_values(by = 'Year')

# Sorting with ascending or descending
df = df.sort_values(by = 'Year', inplace = True, ascending = False)

In [101]:
# Sort by Year

df.sort_values(by = ['Year', 'City MPG'])

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
9068,Dodge,B350 Wagon 2WD,1984,5.9,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,36.623333,8,10,9,987.444444,3700
8705,Dodge,AW100/AW150 Ramcharger 4WD,1984,5.9,8.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicle 4WD,Regular,32.961000,9,11,10,888.700000,3350
8909,Dodge,B150/B250 Wagon 2WD,1984,5.9,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,32.961000,9,11,10,888.700000,3350
9716,Dodge,D250 Pickup Cab Chassis 2WD,1984,5.9,8.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicles,Regular,32.961000,9,11,10,888.700000,3350
10916,Dodge,W100/W150 Pickup 4WD,1984,5.9,8.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,32.961000,9,12,10,888.700000,3350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33295,Toyota,Prius v,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Station Wagons,Regular,8.039268,43,39,41,217.000000,800
6497,Chevrolet,Malibu Hybrid,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,7.165435,49,43,46,194.000000,700
17058,Honda,Accord Hybrid,2017,2.0,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,6.866875,49,47,48,183.000000,700
33278,Toyota,Prius,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,6.338654,54,50,52,171.000000,650
33280,Toyota,Prius Eco,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,5.885893,58,53,56,158.000000,600

In [102]:
# Limiting when sorting
df.nlargest(3, 'Year')

#df.nlargest(3, ['Year', 'City MPG'])

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
46,Acura,ILX,2017,2.4,4.0,Auto(AM-S8),Front-Wheel Drive,Compact Cars,Premium,11.365862,25,35,29,309.0,1400
140,Acura,MDX AWD,2017,3.5,6.0,Automatic (S9),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Premium,14.982273,19,26,22,404.0,1850
141,Acura,MDX AWD,2017,3.5,6.0,Automatic (S9),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Premium,15.695714,18,26,21,424.0,1950

### Using df.apply

In [113]:
## Replacing letters in a column

df['Manufacturer'].apply(lambda x: x.replace('e', 'b'))

0              AM Gbnbral
1              AM Gbnbral
2              AM Gbnbral
3              AM Gbnbral
4        ASC Incorporatbd
               ...
35947               smart
35948               smart
35949               smart
35950               smart
35951               smart
Name: Manufacturer, Length: 35952, dtype: object

In [114]:
df[['Manufacturer', 'Vehicle Class']].apply(lambda x: x.replace('e', 'b'))

           Manufacturer                Vehicle Class
0            AM General  Special Purpose Vehicle 2WD
1            AM General  Special Purpose Vehicle 2WD
2            AM General  Special Purpose Vehicle 2WD
3            AM General  Special Purpose Vehicle 2WD
4      ASC Incorporated                 Midsize Cars
...                 ...                          ...
35947             smart                  Two Seaters
35948             smart                  Two Seaters
35949             smart                  Two Seaters
35950             smart                  Two Seaters
35951             smart                  Two Seaters

[35952 rows x 2 columns]

### DataFrame Aggregation using group by

In [115]:
df.mean()

Year                       2000.716400
Engine Displacement           3.338493
Cylinders                     5.765076
Fuel Barrels/Year            17.609056
City MPG                     17.646139
Highway MPG                  23.880646
Combined MPG                 19.929322
CO2 Emission Grams/Mile     475.316339
Fuel Cost/Year             1892.598465
dtype: float64

In [117]:
##group by Fuel Type

df.groupby(['Fuel Type']).mean()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Fuel Type,,,,,,,,,
CNG,2003.200000,3.963333,6.500000,0.119789,15.966667,22.016667,18.133333,454.976354,1954.166667
Diesel,1994.929748,4.188913,6.225027,17.680877,21.173436,27.466520,23.488474,470.905819,1673.326015
Gasoline or E85,2010.501255,4.465188,6.974059,19.560309,15.347280,21.613389,17.572385,527.444383,1978.870293
Gasoline or natural gas,2004.000000,4.570000,6.800000,23.725940,13.700000,18.700000,15.350000,638.967778,2410.000000
Gasoline or propane,2002.500000,5.400000,8.000000,24.720750,12.000000,16.500000,13.500000,666.525000,2500.000000
Midgrade,2014.148649,5.536486,7.864865,19.163168,14.851351,22.364865,17.378378,516.911921,2152.027027
Premium,2005.575345,3.517075,6.365286,17.852563,16.793166,23.855861,19.343816,481.159270,2198.094950
Premium Gas or Electricity,2014.470588,1.764706,4.235294,4.755412,30.705882,33.176471,31.647059,125.411765,1361.764706
Premium and Electricity,2015.700000,2.345000,4.850000,8.135294,24.900000,28.900000,26.300000,239.450000,1597.500000
Premium or E85,2012.917355,3.680992,6.892562,17.021126,17.305785,24.909091,20.090909,460.462355,2091.322314
Regular,1998.252597,3.164540,5.420952,17.467430,17.970195,23.854623,20.144698,470.907242,1767.024208
Regular Gas and Electricity,2014.625000,1.950000,4.000000,4.669536,43.125000,40.750000,41.937500,125.687500,812.500000
Regular Gas or Electricity,2016.500000,1.500000,4.000000,2.006844,43.000000,42.000000,42.000000,51.000000,800.000000

In [118]:
df.groupby(['Fuel Type'])['Cylinders'].mean()

Fuel Type
CNG                            6.500000
Diesel                         6.225027
Gasoline or E85                6.974059
Gasoline or natural gas        6.800000
Gasoline or propane            8.000000
Midgrade                       7.864865
Premium                        6.365286
Premium Gas or Electricity     4.235294
Premium and Electricity        4.850000
Premium or E85                 6.892562
Regular                        5.420952
Regular Gas and Electricity    4.000000
Regular Gas or Electricity     4.000000
Name: Cylinders, dtype: float64

In [123]:
df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].mean().reset_index()

<ipython-input-123-8555346abf05>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].mean().reset_index()

                      Fuel Type  Cylinders   City MPG
0                           CNG   6.500000  15.966667
1                        Diesel   6.225027  21.173436
2               Gasoline or E85   6.974059  15.347280
3       Gasoline or natural gas   6.800000  13.700000
4           Gasoline or propane   8.000000  12.000000
5                      Midgrade   7.864865  14.851351
6                       Premium   6.365286  16.793166
7    Premium Gas or Electricity   4.235294  30.705882
8       Premium and Electricity   4.850000  24.900000
9                Premium or E85   6.892562  17.305785
10                      Regular   5.420952  17.970195
11  Regular Gas and Electricity   4.000000  43.125000
12   Regular Gas or Electricity   4.000000  43.000000

In [ ]:
## df.groupby(['Fuel Type'])['Cylinders'].mean()

In [120]:
df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].agg(['mean', 'max', 'min'])

<ipython-input-120-8ef4c40bc387>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].agg(['mean', 'max', 'min'])

                            Cylinders              City MPG
                                 mean   max  min       mean max min
Fuel Type
CNG                          6.500000   8.0  4.0  15.966667  27   8
Diesel                       6.225027  10.0  4.0  21.173436  38  13
Gasoline or E85              6.974059   8.0  4.0  15.347280  28  10
Gasoline or natural gas      6.800000   8.0  4.0  13.700000  21  10
Gasoline or propane          8.000000   8.0  8.0  12.000000  13  11
Midgrade                     7.864865   8.0  6.0  14.851351  21  13
Premium                      6.365286  16.0  2.0  16.793166  42   6
Premium Gas or Electricity   4.235294   8.0  2.0  30.705882  41  20
Premium and Electricity      4.850000   8.0  3.0  24.900000  37  16
Premium or E85               6.892562  12.0  4.0  17.305785  24  11
Regular                      5.420952  12.0  2.0  17.970195  58   7
Regular Gas and Electricity  4.000000   4.0  4.0  43.125000  51  38
Regular Gas or Electricity   4.000000   4.0  4.0  43.000000  43  43

In [121]:
##resetting the abovr to a data frame 

df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].agg(['mean', 'max', 'min']).reset_index()

<ipython-input-121-395d1cf7bf76>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(['Fuel Type'])['Cylinders', 'City MPG'].agg(['mean', 'max', 'min']).reset_index()

                      Fuel Type Cylinders              City MPG
                                     mean   max  min       mean max min
0                           CNG  6.500000   8.0  4.0  15.966667  27   8
1                        Diesel  6.225027  10.0  4.0  21.173436  38  13
2               Gasoline or E85  6.974059   8.0  4.0  15.347280  28  10
3       Gasoline or natural gas  6.800000   8.0  4.0  13.700000  21  10
4           Gasoline or propane  8.000000   8.0  8.0  12.000000  13  11
5                      Midgrade  7.864865   8.0  6.0  14.851351  21  13
6                       Premium  6.365286  16.0  2.0  16.793166  42   6
7    Premium Gas or Electricity  4.235294   8.0  2.0  30.705882  41  20
8       Premium and Electricity  4.850000   8.0  3.0  24.900000  37  16
9                Premium or E85  6.892562  12.0  4.0  17.305785  24  11
10                      Regular  5.420952  12.0  2.0  17.970195  58   7
11  Regular Gas and Electricity  4.000000   4.0  4.0  43.125000  51  38
12   Regular Gas or Electricity  4.000000   4.0  4.0  43.000000  43  43

### Merging DataFrames