In [1]:
def double_function(x):
    return x*2

In [2]:
double_function(10)

20

In [4]:
double_lambda = lambda x: 2*x

#anonymous (lambda x: x*2)(20)

In [6]:
double_lambda(5)

10

In [8]:
#lamda expression that adds 5 to the number

plus_five = lambda x:5+x
plus_five(2)

7

In [11]:
## Annonymous lambda

(lambda x: x+5)(10)

15

In [12]:
## Lambda function with several inputs

#. Write a function that adds two inputs

def add_function(x, y):
    return x+y

add_function(2, 4)

6

In [13]:
# Solve above with Lambda expression 

add_lambda = lambda x, y: x + y

add_lambda(5, 2)

7

In [14]:
(lambda x, y: x+y)(5, 2)

7

In [20]:
## Write Lambda function that returns  the max of two numbers

ret_max = lambda x, y: x if x>y else y
ret_max(5, 7)

7

In [22]:
# Write a fucntion which gives out a number if it even, and 0 otherwise

def even_zero_function(x):
    if x%2 == 0:
        return x
    else:
        return 0
even_zero_function(4)

4

In [41]:
# Write a fucntion which gives out a number if it even, and 0 otherwise

even_zero_function = lambda x: x if x%2 == 0 else 0
even_zero_function(4)

4

In [42]:
(lambda x: x if  x% 2==0 else 0)(8)

8

In [39]:
## Lambda function and list Comprenhension


mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
[i/2 for i in mylist]

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [45]:
[(lambda x: x/2)(x) for x in mylist]

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [61]:
# Print our a list which contains  the even numbers and replaces the odd numbers by zero
[(lambda x: x if x%2==0 else 0) (x) for x in mylist]

TypeError: 'function' object is not iterable

In [52]:
## Lambda Arguements as Functions

misters = ['MisterE', 'MisterB', 'MIsterF', 'MisterD']

In [53]:
sorted(misters)

['MIsterF', 'MisterB', 'MisterD', 'MisterE']

In [57]:
## Sort the following list by the second letter in the string

list_tuples = [('eggs', 1), ('apples', 2), ('carrots', 1), ('beetroot', 5)]
second_later = lambda x: x[0][1]
second_later(('hello', 1))

'e'

In [59]:
x  = [('eggs', 1), ('apples', 2), ('carrots', 1), ('beetroot', 5)]
x[0][1]

1