In [40]:
import json
import tweepy
import pandas as pd

## Twitter API

#### Generate your credentials online!

In [41]:
API_KEY = 'wit7G5L4fYn9nM9XEP0Sxqb4L'
API_SECRET = 'xGGCqlxcZKCg99dyjGI0vDJ8uKkzDo87FbXCS0dSTF0cisWbdz'

ACCESS_TOKEN = '56323514-u2P6Pxy69JHdnZ6wi7kUEPOlKQJpzVSM7x4H3pwcy'
ACCESS_TOKEN_SECRET = 'nBAI23pdYl2A44sBBt3xy0vgqDGQDsoOiaVae5BicMm1I'

In [42]:
auth = tweepy.OAuthHandler(API_KEY, API_SECRET)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
api = tweepy.API(auth)

In [43]:
api.me()

User(_api=<tweepy.api.API object at 0x7ffe70a2c490>, _json={'id': 56323514, 'id_str': '56323514', 'name': 'Shola Ayodz', 'screen_name': 'shozy01', 'location': 'Berlin ', 'profile_location': None, 'description': 'Live the Life you love , love the Life you Live.', 'url': None, 'entities': {'description': {'urls': []}}, 'protected': True, 'followers_count': 48, 'friends_count': 248, 'listed_count': 0, 'created_at': 'Mon Jul 13 08:32:43 +0000 2009', 'favourites_count': 6, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 79, 'lang': None, 'status': {'created_at': 'Sun May 31 20:26:25 +0000 2015', 'id': 605108087863816193, 'id_str': '605108087863816193', 'text': '#Nigeria2015', 'truncated': False, 'entities': {'hashtags': [{'text': 'Nigeria2015', 'indices': [0, 12]}], 'symbols': [], 'user_mentions': [], 'urls': []}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 0, 'favorite_count': 5, 'favorited': False, 'retweeted': False, 'lang': 'und'}, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': '0099B9', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme4/bg.gif', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme4/bg.gif', 'profile_background_tile': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1312699194872868864/owqznhxO_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1312699194872868864/owqznhxO_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/56323514/1411424984', 'profile_link_color': '0099B9', 'profile_sidebar_border_color': '000000', 'profile_sidebar_fill_color': '95E8EC', 'profile_text_color': '3C3940', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'suspended': False, 'needs_phone_verification': False}, id=56323514, id_str='56323514', name='Shola Ayodz', screen_name='shozy01', location='Berlin ', profile_location=None, description='Live the Life you love , love the Life you Live.', url=None, entities={'description': {'urls': []}}, protected=True, followers_count=48, friends_count=248, listed_count=0, created_at=datetime.datetime(2009, 7, 13, 8, 32, 43), favourites_count=6, utc_offset=None, time_zone=None, geo_enabled=False, verified=False, statuses_count=79, lang=None, status=Status(_api=<tweepy.api.API object at 0x7ffe70a2c490>, _json={'created_at': 'Sun May 31 20:26:25 +0000 2015', 'id': 605108087863816193, 'id_str': '605108087863816193', 'text': '#Nigeria2015', 'truncated': False, 'entities': {'hashtags': [{'text': 'Nigeria2015', 'indices': [0, 12]}], 'symbols': [], 'user_mentions': [], 'urls': []}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 0, 'favorite_count': 5, 'favorited': False, 'retweeted': False, 'lang': 'und'}, created_at=datetime.datetime(2015, 5, 31, 20, 26, 25), id=605108087863816193, id_str='605108087863816193', text='#Nigeria2015', truncated=False, entities={'hashtags': [{'text': 'Nigeria2015', 'indices': [0, 12]}], 'symbols': [], 'user_mentions': [], 'urls': []}, source='Twitter for iPhone', source_url='http://twitter.com/download/iphone', in_reply_to_status_id=None, in_reply_to_status_id_str=None, in_reply_to_user_id=None, in_reply_to_user_id_str=None, in_reply_to_screen_name=None, geo=None, coordinates=None, place=None, contributors=None, is_quote_status=False, retweet_count=0, favorite_count=5, favorited=False, retweeted=False, lang='und'), contributors_enabled=False, is_translator=False, is_translation_enabled=False, profile_background_color='0099B9', profile_background_image_url='http://abs.twimg.com/images/themes/theme4/bg.gif', profile_background_image_url_https='https://abs.twimg.com/images/themes/theme4/bg.gif', profile_background_tile=True, profile_image_url='http://pbs.twimg.com/profile_images/1312699194872868864/owqznhxO_normal.jpg', profile_image_url_https='https://pbs.twimg.com/profile_images/1312699194872868864/owqznhxO_normal.jpg', profile_banner_url='https://pbs.twimg.com/profile_banners/56323514/1411424984', profile_link_color='0099B9', profile_sidebar_border_color='000000', profile_sidebar_fill_color='95E8EC', profile_text_color='3C3940', profile_use_background_image=True, has_extended_profile=False, default_profile=False, default_profile_image=False, following=False, follow_request_sent=False, notifications=False, translator_type='none', suspended=False, needs_phone_verification=False)

In [44]:
# TO SAVE A FILE
## with open('twitter_credentials.json', 'r') as outfile:
   ## json.dump(cred.outfile)

    #. First save the file, 2- add it to .gitignore file which you would create and add (twitter_credentials.json)

    ## TO READ a file which was saved 
## with open('twitter_credentials.json', 'r') as infile:
    ## credentials = json.load(infile.read())
## print(credentials )


#### credentialss['API_KEY']

#auth = tweepy.OAuthHandler(API_KEY, API_SECRET), credentials['API_KEY']
#auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET), credentials['ACCESS_TOKEN_SECRET']
#api = tweepy.API(auth)

### Read the Tweepy documentation to find out aboout methods

#### http://docs.tweepy.org/en/latest/api.html#tweepy-api-twitter-api-wrapper

In [45]:
## Using .json format to view in a dataFrame form, this would remove the nested columns(json_normalize)
trends = pd.json_normalize(api.trends_available())
trends

,name,url,parentid,country,woeid,countryCode,placeType.code,placeType.name
0,Worldwide,http://where.yahooapis.com/v1/place/1,0,,1,None,19,Supername
1,Winnipeg,http://where.yahooapis.com/v1/place/2972,23424775,Canada,2972,CA,7,Town
2,Ottawa,http://where.yahooapis.com/v1/place/3369,23424775,Canada,3369,CA,7,Town
3,Quebec,http://where.yahooapis.com/v1/place/3444,23424775,Canada,3444,CA,7,Town
4,Montreal,http://where.yahooapis.com/v1/place/3534,23424775,Canada,3534,CA,7,Town
...,...,...,...,...,...,...,...,...
462,Vietnam,http://where.yahooapis.com/v1/place/23424984,1,Vietnam,23424984,VN,12,Country
463,Petaling,http://where.yahooapis.com/v1/place/56013632,23424901,Malaysia,56013632,MY,7,Town
464,Hulu Langat,http://where.yahooapis.com/v1/place/56013645,23424901,Malaysia,56013645,MY,7,Town
465,Ahsa,http://where.yahooapis.com/v1/place/56120136,23424938,Saudi Arabia,56120136,SA,9,Unknown
466,Okayama,http://where.yahooapis.com/v1/place/90036018,23424856,Japan,90036018,JP,7,Town

In [46]:
trends_berlin = api.trends_place(638242)
print(trends_berlin)

[{'trends': [{'name': '#b1010', 'url': 'http://twitter.com/search?q=%23b1010', 'promoted_content': None, 'query': '%23b1010', 'tweet_volume': None}, {'name': '#Welthundetag', 'url': 'http://twitter.com/search?q=%23Welthundetag', 'promoted_content': None, 'query': '%23Welthundetag', 'tweet_volume': None}, {'name': '#MapOfTheSoulOne', 'url': 'http://twitter.com/search?q=%23MapOfTheSoulOne', 'promoted_content': None, 'query': '%23MapOfTheSoulOne', 'tweet_volume': 1700849}, {'name': '#WorldMentalHealthDay', 'url': 'http://twitter.com/search?q=%23WorldMentalHealthDay', 'promoted_content': None, 'query': '%23WorldMentalHealthDay', 'tweet_volume': 353931}, {'name': 'Kapitalismus', 'url': 'http://twitter.com/search?q=Kapitalismus', 'promoted_content': None, 'query': 'Kapitalismus', 'tweet_volume': None}, {'name': 'namjoon', 'url': 'http://twitter.com/search?q=namjoon', 'promoted_content': None, 'query': 'namjoon', 'tweet_volume': 333693}, {'name': '#fcksvw', 'url': 'http://twitter.com/search?q=%23fcksvw', 'promoted_content': None, 'query': '%23fcksvw', 'tweet_volume': None}], 'as_of': '2020-10-10T13:22:57Z', 'created_at': '2020-10-09T05:39:59Z', 'locations': [{'name': 'Berlin', 'woeid': 638242}]}]

In [47]:
pd.json_normalize(trends_berlin)

,trends,as_of,created_at,locations
0,"[{'name': '#b1010', 'url': 'http://twitter.com...",2020-10-10T13:22:57Z,2020-10-09T05:39:59Z,"[{'name': 'Berlin', 'woeid': 638242}]"

In [48]:
trends_berlin[0].keys()

dict_keys(['trends', 'as_of', 'created_at', 'locations'])

In [49]:
trends_berlin[0]['created_at']

'2020-10-09T05:39:59Z'

In [50]:
trends_berlin[0]['locations']

[{'name': 'Berlin', 'woeid': 638242}]

In [51]:
# trends_berlin[0]['trends']
# Want the first paragraph of trends
# trends_berlin[0]['trends'][0]

## I only want the name then its 
trends_berlin[0]['trends'][0]['name']

'#b1010'

In [52]:
# Getting the first five elements in the list 

[trends_berlin[0]['trends'][i]['name'] for i in range(5)]

['#b1010',
 '#Welthundetag',
 '#MapOfTheSoulOne',
 '#WorldMentalHealthDay',
 'Kapitalismus']